:root {
  --primary-text-color: #212121; /* цвет основного текста */
  --secondary-text-color: #757575; /* второй цвет текста */
  --accent-color: #2196f3; /* акцент */
  --primary-bg-color: #ffffff; /* фон страницы */
  --secondary-bg-color: #f5f4fa; /* второй фон */
  --footer-bg-color: #2f303a; /* фон банера и подвала */
  --logo-color: #000000; /* цвет лого */
  --accent-hero-button: #188ce8; /* актив кнопки героя */
  --footer-link: rgba(255, 255, 255, 0.6); /* цвет ссылок подвала */
  --page-header-border: #ececec; /* цвет рамки шапки сайта */
  --portfolio-border: #eeeeee; /* цвет рамки карточек в portfolio*/
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  margin: 0;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хедер, шапка страницы*/

.logo > span {
  color: var(--accent-color);
}

.footer.logo {
  color: #ffffff;
}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo.link {
  margin-right: 93px;
  display: flex;
}

.logo.dark {
  color: #fff;
}

/* Навигация */

.page-header {
  border-bottom: 1px solid var(--page-header-border);
}

.header.container {
  display: flex;
  align-items: center;
}

.nav,
.site-nav,
.aside {
  display: flex;
  align-items: center;
}

.aside {
  margin-left: auto;
}

.site-nav,
.aside {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.aside .aside-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav a.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.aside a {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aside a:hover,
.aside a:focus {
  color: var(--accent-color);
  outline: none;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
  fill: var(--accent-color);
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone:hover,
.icon-phone:focus {
  fill: var(--accent-color);
}

/* Шапка */

.banner {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team-background.jpg);
}

.hero {
  text-align: center;
}

.title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: #fff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-hero-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Особенности */

.features.section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-list .features-item {
  width: 270px;
}

.features-list .features-item:not(:last-child) {
  margin-right: 30px;
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-icon {
  padding: 0;
  width: 70px;
  height: 70px;
  border: none;
}

/* Чем мы занимаемся */

.work .subject-list {
  display: flex;
  position: relative;
}

.work .subject-item:not(:last-child) {
  margin-right: 30px;
}

.work .subject-item {
  width: 370px;
}

.work img {
  width: 370px;
}

.subject {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  bottom: 0;
  margin: 0;
  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.our-team {
  background-color: var(--secondary-bg-color);
}

.our-team .our-team-list {
  display: flex;
  text-align: center;
}

.our-team .our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team .our-team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team img {
  width: 270px;
}

.person-content {
  padding: 30px 32px 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--primary-bg-color);
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

/* Соцсети */

.social-link li:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
}

.social-link .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: rgba(175, 177, 184, 1);
  background-color: var(--primary-bg-color);
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .link:hover,
.social-link .link:focus {
  background-color: var(--accent-color);
  fill: #fff;
  outline: none;
}

/*Постоянные клиенты*/

.our-regular-clients-list {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.our-regular-clients-item:not(:last-child) {
  margin-right: 30px;
}

.our-regular-clients-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 170px;
  height: 92px;

  background-color: var(--primary-bg-color);
  fill: rgba(175, 177, 184, 1);

  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-regular-clients-item .link:hover,
.our-regular-clients-item .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.our-regular-clients-item .link:focus {
  outline: none;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*Портфолио*/

.portfolio-nav-list.items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-list button {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-list button:hover,
.portfolio-nav-list button:focus {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-container {
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
  border-left: 1px solid var(--portfolio-border);
  padding: 20px 24px;
}

.portfolio-list {
  list-style: style;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.portfolio-item {
  width: 370px;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.items {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  text-decoration: none;
}

/* Всплывающее описание карточки */

.overlay {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.overlay::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover::before,
.overlay:focus::before {
  transform: translateY(0);
}

.container-text {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-flex;
  margin: 0;
  padding: 63px 24px;

  color: #fff;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  transform: translateY(100%);

  transition-property: transform, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .container-text,
.overlay:focus .container-text {
  transform: translateY(0);
}

.card:hover .overlay::before {
  transform: translateY(0);
}

.card:hover .container-text {
  transform: translateY(0);
}

/*Футтер*/

.footer {
  background-color: var(--footer-bg-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-container {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.logo.dark {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: #fff;
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer-address p {
  margin-top: 0;
  margin-bottom: 9px;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
}

.footer-list {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 1.71;
}

.footer-item-mail {
  margin-bottom: 9px;
}

.footer-list a {
  display: block;
  color: var(--footer-link);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--accent-color);
  outline: none;
}

/*Соцсети в футере*/

.social-links {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.join {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #fff;
}

.social.list {
  display: flex;

  padding: 0;
  margin: 0;
}

.social .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social li:not(:last-child) {
  margin-right: 10px;
}

/* Подписка на рассылку */

.subscription {
  display: flex;
  flex-direction: column;
}

.subscription form {
  display: flex;
}

.subscribe-text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #fff;
}

.enter-mail {
  margin-right: 12px;
  padding: 15px 150px 15px 16px;
  width: 358px;

  color: #fff;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.enter-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;
  padding: 10px 62px 10px 29px;
  width: 200px;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #fff;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--primary-bg-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;

  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 11px;
  height: 11px;
  fill: var(--logo-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: var(--accent-color);
}

/* Модальная форма */

.request-text {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-text-color);
}

.form-field {
  position: relative;
}

.label {
  display: flex;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.input-form {
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: var(--accent-color);
  outline: none;
}

.icon-form {
  position: absolute;
  top: 29px;
  left: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .icon-form {
  fill: var(--accent-color);
}

.comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.contract-send {
  position: relative;
  text-align: center;
}

.contract {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.contract a {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);

  color: var(--accent-color);
}

.icon-check {
  position: absolute;
  top: 5px;
  left: 10px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url("../images/empty-checkbox.svg");

  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .icon-check {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-image: none;
  background-position: center;
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  border-radius: 2px;
}

.send-button {
  padding: 10px 0;
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #fff;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--accent-hero-button);
}
